{% extends "Information/base.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'Information/forms.css' %}">
{% endblock %}

{% block pagetitle %}
Contact Forms
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card card-margin">
        <h2 class="card-header"> Mailing List Form</h2>
        <form class="card-body" action="/forms/" method="post">
          {% csrf_token %}
          {{ form }}
          <small id="emailHelp" class="form-text text-muted" style="margin-bottom: 10px">Enter your email to sign up for our mailing list.</small>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <div class="col-sm">
      <div class="card card-margin">
        <h2 class="card-header"> Photo Submissions</h2>
        <form class="card-body" action="/forms/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlFile1">pdf/jpeg file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" accept="image/png, image/jpeg">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}