{% extends "Information/base.html" %}

{% load static %}

{% block stylesheets %}
<!-- custom CSS -->
{% endblock %}

{% block pagetitle %}
Contact Forms
{% endblock %}



{% block content %}
<h1>This is the forms page.</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>header 1</h2>
    </div>
    <div class="col-sm">
      <h2>header 2</h2>
    </div>
    <div class="col-sm">
      <h2>header 3</h2>
    </div>
    <div class="col-sm">
      <h2>header 4</h2>
      <p> lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text lots of text </p>
    </div>
  </div>
</div>

{% endblock %}