{% extends "Information/base.html" %}

{% load static %}

{% block stylesheets %}
<!-- custom CSS -->
{% endblock %}

{% block pagetitle %}
Contact Forms
{% endblock %}

{% block content %}
<h1>Preliminary Forms</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Mailing List Form</h2>
      <form action="/forms/" method="post">
        {% csrf_token %}
        {{ form }}
        <small id="emailHelp" class="form-text text-muted">Enter your email to sign up for our mailing list.</small>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="col-sm">
      <h2>Photo Submissions</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlFile1">pdf/jpeg file input</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1" accept="image/png, image/jpeg">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}